## .gitignore for climber redch

## ignore, essentially, everything
#/analysis
#/documents
#/input
#/vis
#*.R
#*.sh
#*.py
/output/r0936
/output/r0937

## ignore for the most part, Rstudio chaff
/.Rproj.user
*.Rproj
*.RData
.Rhistory

## ignore older climber material for now, and pptx generally...
/documents/zzz__exclude_original_climber
*pptx
